<div class="dashboard-container">

  <app-period-menu (periodChange)="onPeriodChange($event)"></app-period-menu>

  <div class="cards-grid">
    <app-card *ngFor="let card of cardList" , [title]="card.title" , [icon]="card.icon" , [valor]="card.valor" ,
      [color]="card.color" ,></app-card>
  </div>
  <div class="actions">
    <app-button-add-painel [buttonList]="buttonList" (addItem)="handleAdd($event)">
    </app-button-add-painel>
  </div>
  <app-main-content-grid [transactions]="transactions" (editTransactionEvent)="editTransaction($event)">
  </app-main-content-grid>

</div>
<app-modal-finance [isOpen]="showModal" [type]="modalType" [isEdit]="isEditMode" [initialData]="selectedTransaction"
  (close)="closeModal()" (save)="handleSave($event)">
</app-modal-finance>